{% extends "data_search_base.html" %}
{% block info %}

<h3> Filter: {{ title }} </h3>
{% if data %}
	<table  class="table table-compact table-bordered">
	    <tr style="font-weight:bold">
	    	<td> Case Name </td>
	    	<td> Last Updated</td>
	    	<td> Specific Violation </td>
	    	<td> Location </td>
	    </tr>

		{% for entry in data %}
		    <tr>
		    	<td>
		    		<a href="{{ entry.case_url }}" target="blank"> {{ entry.case_name }} </a>
		    	</td>
		    	<td>{{ entry.last_updated}} </td>
		    	<td>{{ entry.specific_violation}} </td>
		    	<td>{{ entry.location}} </td>
		    </tr> 
		{% endfor %}
	</table>
{% endif %}
{% endblock %}


