{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="home"> 
	<nav class="navbar navbar-toggleable-md navbar-light bg-faded mynav datanav" role="navigation" id="navbar">
		<div class="container">
			<a class="navbar-brand mynav" href="{% url 'home' %}">
				<img src="{% static 'images/logo.svg' %}" class="logo" height="100px"/>
			</a>

			<ul class="nav navbar-nav  ml-auto">
			  	<li class="nav-item active">
					<a class="nav-link" href="{% url 'data_search' %}">Search<span class="sr-only">(current)</span>
					</a>
				</li>
			</ul>

			<ul class="nav navbar-nav ">
			  	<li class="nav-item active">
					<a class="nav-link" href="{% url 'about_us' %}">About Us<span class="sr-only">(current)</span></a>
				</li>
			</ul>
			
			<ul class="nav navbar-nav">
			  	<li class="nav-item active">
					<a class="nav-link" href="{% url 'faq' %}">FAQ<span class="sr-only">(current)</span>
					</a>
				</li>
			</ul>

			<ul class="nav navbar-nav">
			  	<li class="nav-item active">
					<a class="nav-link" href="{% url 'glossary' %}">Glossary<span class="sr-only">(current)</span>
					</a>
				</li>
			</ul>

		</div>
	</nav>
	<div class="container databody"> 
		{% block info %}
		{% endblock %}
	</div>

</div>


{% endblock %}