{% extends "data_search_base.html" %}
{% block info %}

<div> 
<h1> Privacy Terminology  </h1>

<br/> 



 <p class="card-text">

 Some of the terminology used on this site has been adapted for the purposes of clarity in providing guidance on best practices.  These terms may have specific meanings in certain jurisdictions and often are quite close to our usage, but this is a coincidence - we are seeking to provide a non-jurisdiction / requirement / specific paradigm to the extent it is useful.
 </p>

<p class="card-text">
For a comprehensive glossary for privacy, see the
</p>
<a href="https://iapp.org/resources/glossary/">International Association of Privacy Professional’s official glossary</a>
<br/> 
<br/> 
<h3>Privacy </h3>
<p class="card-text">
We use this term to refer to informational privacy, by which we mean the collection, access, use, disclosure, disposal, retention, archiving and backup of data about unique data subjects.  Our work is about the expectations of data subjects in respect of how their information in managed.

</p>
<h3> Collecting Organization</h3>

<p class="card-text">
We use this term to refer to the entity that is collecting personal information (PI) either directly from a data subject (client, customer, donor, etc.) or indirectly from a third party about a data subject.  
</p>

<h3> Data Subject </h3>
<p class="card-text">
We use this term to refer to any individual. It could be a donor, client, customer, employee or any specific and unique person.
</p>		 


<h3> Third Party </h3>

<p class="card-text">
We use this term to refer to any organization that is not the collecting organization for the purposes of meeting privacy obligations.  For example,  directly collecting personal information (PI) from a data subject.  In the case of indirect collection, the source may be any other organization including a funding body, a public source available online like Facebook, or simply a different person (e.g. a friend, relative, coworker).
</p>		 

<h3> Record </h3>

<p class="card-text">
We use this term to refer to any system (structured or unstructured) of information about a data subject that is retrievable by name, number, or other unique identifier for that person.  For example, medical information, phone numbers, emails, addresses, tattoos, employment history etc.
</p>	
<h3> Record </h3>

<p class="card-text">
We use this term to refer to any system (structured or unstructured) of information about a data subject that is retrievable by name, number, or other unique identifier for that person.  For example, medical information, phone numbers, emails, addresses, tattoos, employment history etc.
</p>	

<h3> Personal Information  </h3>

<p class="card-text">
We use this term to refer to information that can be used on its own or with other information to identify, contact or locate a single person - or to identify an individual in context.  In the U.S., this is often referred to as personally identifiable information (PII) or sensitive personal information (SPI).  Similar jurisdictional terms exist in other countries, which notably vary and can be used with different effect.  Personal data is more common to EU countries, for example, and considered to be broader in the scope of a given regulator.  The specificity matters because some data points may not be considered PI/PII/SPI etc and therefore are not necessarily subject to the regulations set out in privacy laws.  Generally, PII is a legal concept not a technical one; the absence of PII per the laws of a given country does not mean that an individual cannot be identified using other attributes.
</p>	

</div>

{% endblock %}